.card {
  max-width: 413px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(33, 33, 33, 1);
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__like-button {
  background-image: url(../images/like-icone.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {

  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 288px
  }
  }
